body {
  background: green;
}
p {
  color: blue;
}
target {
  color: green;
}
input {
  display: block;
  color: green;
}
h1 {
  color: green;
}
h2 {
  color: blue;
  background-image: url('');
}
h5 {
  color: grays;
}
body {
  background: blue;
}
address {
  display: block;
  background: black;
}
